/* Estilização geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Cor suave */
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Título principal */
  h1 {
    color: #2e8b57; /* Cor diferente */
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  /* Parágrafo */
  p {
    font-size: 18px;
    text-align: justify;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Lista não ordenada */
  ul {
    padding-left: 20px;
    list-style: none; /* Remove marcadores */
  }
  
  ul li {
    margin-bottom: 10px; /* Espaçamento maior entre os itens */
    padding-left: 20px;
    position: relative;
  }
  
  ul li::before {
    content: "\2022"; /* Adiciona um marcador personalizado */
    font-size: 20px;
    color: #2e8b57;
    position: absolute;
    left: 0;
  }
  
  /* Imagem */
.rounded-image {
    border-radius: 10px; /* Bordas arredondadas */
    width: 200px; /* Diminui o tamanho para 200px */
    height: auto;
    margin: 20px auto;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  
  /* Tabela */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  table th {
    background-color: #2e8b57;
    color: white;
  }
  
  .country-image {
    width: 100px; /* Tamanho adequado para as imagens da tabela */
    height: auto;
    border-radius: 5px;
  }
  
  /* Link */
  a {
    color: #0000ff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ff4500; /* Muda de cor ao passar o mouse */
  }
  
  /* Botão */
  #messageButton {
    background-color: #2e8b57;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
  }
  
  #messageButton:hover {
    background-color: #3e8e41;
  }
  
  /* Mensagem */
  #message {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    color: #2e8b57;
  }
  